<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
            <div class='category'>
            <div class="title-section"><h4> <%= title %> </h4></div>
            <p>Genre: <%= genre.name%></p>
            <p>Games have this genre: <%= gameCount%></p>
            <%if (locals.errors) {%>
            <div class="errors-section section">
                <%errors.forEach((error) => {%>
                    <p><%= error.msg%></p>
                <%})%>

            </div>
            <%}%>
            <form method="POST">
                <button>Confirm genre deletion</button>
            </form>
            </div>
        </div>
    </body>
</html>
