<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <%if (!developerFound) {%>
            <h3>Developer not found</h3>
        <%} else {%>
            <%if (!games) {%>
                <b>No games</b>
            <%} else {%>
                <div class='category-list'>
                    <div>
                        <h3> <%= developer.name %> </h3>
                        <h4>from <%= developer.country%> </h4>
                    </div>
                    <div class='category'>
                    <div class="title-section"><h4>  List of games developed by <%= developer.name %> </h4></div>
                        <%if (games) {%>
                            <%games.forEach((game) => {%>
                                <p><a href="/games/<%= game.id %>"><%= game.title%></a></p>
                            <%})%>
                        <%} else {%>
                            <h4>No games</h4>
                        <%}%>
                    </div>
                </div>
            <%}%>
        <%}%>
    </body>
</html
