<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
            <div class='category'>
                <div class="title-section">
                    <h4>
                        <%= title %>
                    </h4>
                    <a href="/genres/create/" tabindex="-1"><button>Add new genre</button></a>
                </div>
                <%if (genres) {%>
                    <%genres.forEach((genre) => {%>
                        <p>
                            <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
                            <span>
                                <a href="/genres/<%= genre.id%>/update/" tabindex="-1"><button>Update</button></a>
                            </span>
                        </p>
                    <%})%>
                <%} else {%>
                    <h4>No genres</h4>
                <%}%>
            </div>
        </div>
    </body>
</html>
